{% extends 'base.html' %}

{% block title %}Rates{% endblock title %}

{% block content %}
<table  class="table table-sm table-dark" >
    <p></p>
    <tr bgcolor="#2E8B57" >
        <th>id</th>
        <th>Дата создания </th>
        <th>Курс</th>
        <th>Источник</th>
        <th>Валюта</th>
        <th>Продажа/покупка</th>
    </tr>
</thead>

    <tbody>
  {% for rate in object_list %}
    <tr>
    <th scope="row">{{ rate.id }}</td>
        <td>{{ rate.created }}</td>
        <td>{{ rate.amount }}</td>
        <td>{{ rate.get_source_display }}</td>
        <td>{{ rate.get_currency_type_display }}</td>
        <td>{{ rate.get_type_display }}</td>
    </tr>
   {% endfor %}
   </tbody>
</table>
{% endblock content %}