{% extends 'base.html' %}

{% block title %}Rates{% endblock title %}

{% block content %}
<br>
<a href="{% url 'rate:download-csv' %}">Download csv</a>
<a href="{% url 'rate:download-xlsx' %}">Download xlsx</a>
<table  class="table table-sm table-dark" >
    <br><br>
    <table class = "table">
    <thead class="thead-dark">
    <tr bgcolor="#2E8B57" >
        <th>id</th>
        <th>Дата создания </th>
        <th>Курс</th>
        <th>Источник</th>
        <th>Валюта</th>
        <th>Продажа/покупка</th>
        {% if user.is_superuser %}
				<th scope="col"> Редактировать</th>
				<th scope="col"> Удалить </th>
        {% endif %}
    </tr>
</thead>

    <tbody>
  {% for rate in object_list %}
    <tr>
    <th scope="row">{{ forloop.counter }}</td>
        <td>{{ rate.created }}</td>
        <td>{{ rate.amount }}</td>
        <td>{{ rate.get_source_display|title }}</td>
        <td>{{ rate.get_currency_type_display|upper }}</td>
        <td>{{ rate.get_type_display|title }}</td>
        {% if user.is_superuser %}
						<td><a class="btn btn-dark" href="{% url 'rate:edit' pk=rate.id %}">Edit</a></td>
						<td><a class="btn btn-dark" href="{% url 'rate:delete' pk=rate.id %}">Delete</a></td>
					{% endif %}
    </tr>
   {% endfor %}
   </tbody>
</table>
{% endblock content %}